@model IEnumerable<FullFrameworkEshop.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn btn-info" onclick="setText()">fiddle</button>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryNameEnglish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.Iso3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryNameEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Iso3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>

url je @Request.Url.AbsoluteUri

<div id="pad" class="active">h</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {

    });

    function setText() {
        var a = $("#pad");
        a.empty();
        console.log("ready from button!");
        $.getJSON( "/customer/GetCountries", function( data ) {
            //console.log(data);
            $.each(data, function (i, field) {
                console.log(field.CountryNameEnglish);
                $("#pad").append("<p>" + field.CountryNameEnglish + "</p>");

                $.each(field.Regions,
                    function(y, field2) {
                        $("#pad").append("<p>" + field2.RegionNameEnglish + "</p>");
                    });

            });
        });
    };

</script>
